body {
	background:#CCC;
}

body * {
	font-family:"TW Cen MT", Arial, sans-serif;
	
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	
	/* border:3px solid #F00; */
}

#content {
	width:100%;
	height:100%;
	
	position:fixed;
	bottom:0px;
	left:0px;
}

#board-overlay {
	z-index:20;
	border-radius:10px;
	position:fixed;
	background-color:rgba(0,0,0,0.3);
	padding:10px;
	text-align:center;
	color:#FFF;
	display:none;
}

.spacer {
	width:1px;
	height:100%;
	vertical-align:middle;
}

#board, #stats, #scores {
	border-radius:10px;
	position:fixed;
	background-color:#EEE;
	box-shadow:0px 5px 15px rgba(0,0,0,0.5);
	padding:10px;
}

#board {	
	transition:0.3s all ease-out;
	-o-transition:0.3s all ease-out;
	-ms-transition:0.3s all ease-out;
	-moz-transition:0.3s all ease-out;
	-webkit-transition:0.3s all ease-out;
}

#board table {
	width:100%;
	height:100%;
	table-layout:fixed;
	border-collapse:collapse;
}

#board table tr td.a {
	width:20%;
	height:20%;
	text-align:center;
}

.h1 {
	font-size:24pt;
}

#pause-overlay {
	text-align:center;
	color:#FFF;
	
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:100;
	background-color:rgba(0,0,0,0.5);
	
	display:none;
}

#instructions {
	width:100%;
	position:relative;
	
	margin-top:10px;
	margin-bottom:10px;
	padding:20px;
	
	border-radius:10px;
	background-color:#DDD;
	box-shadow:inset 0px 5px 15px rgba(0,0,0,0.5);
}

/*
# {
	flag: https://osu.ppy.sh/u/4379428
}
*/